{% extends "layout.html" %}


{% block title %}Back{% endblock %}


{% block content %}
    <div class="arrow">
        <a href="/reverse">
            <img src="{{ url_for('static', filename='images/right_arrow.png') }}" alt="Right Arrow">
        </a>
    </div>
    <div class="back-arrow">
        <a href="/front">
            <img src="{{ url_for('static', filename='images/right_arrow.png') }}" alt="Back Arrow">
        </a>
    </div>
    <div class="center-text">
        <h1 class="page-title">2 - Back</h1>
        <p class="page-paragraph">Dives that start with the number 2 are categorized as Back dives. These dives are initiated with the diver facing away from the water and involve the diver performing a backwards takeoff with backwards rotation…
        </p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 full-width-column">
                <img src="static/images/back1.png" alt="Back Diagram" class="img-fluid back">
            </div>
        </div>
        <div class="row">
            <div class="col-1">
            </div>
            <div class="col-3 one-third-column">
                <h1>Key components:</h1>
                <ol>
                    <li>Start facing away from <span class="bold yellowhover" onmouseover="changeImage('back', 'back2')" onmouseout="changeImage('back', 'back1')">water</span></li>
                    <li><span class="bold yellowhover" onmouseover="changeImage('back', 'back3')" onmouseout="changeImage('back', 'back1')">Backwards takeoff</span></li>
                    <li><span class="bold yellowhover" onmouseover="changeImage('back', 'back4')" onmouseout="changeImage('back', 'back1')">Flip backwards</span></li>
                </ol>
            </div>
            <div class="col-1">
            </div>
            <div class="col-7">
                <div class="row">
                    <div class="col-6 two-thirds-column left">
                        <h1><span class="bold">Example 1:</span> “Back dive tuck"</h1>
                        <p class = "yellowhover"><span class="underline">2</span><span class="underline">01</span><span class="underline">C</span></p>
                        <img src="static/images/201c_desc.png" alt="201C Description" class="img-fluid fixed-size">
                    </div>
                    <div class="col-6 two-thirds-column right">
                        <h1><span class="bold">Example 2:</span> “Back two-and-a-half pike”</h1>
                        <!-- <p class = "yellowhover"><span class="underline">2</span><span class="underline">05</span><span class="underline">B</span></p> -->
                        <p class = "yellowhover">
                            <a href="{{ url_for('video', dive_code='205B') }}">
                                <span class="underline">2</span><span class="underline">05</span><span class="underline">B</span>
                            </a>
                        </p>
                        <img src="static/images/205b_desc.png" alt="205B Description" class="img-fluid fixed-size">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}