{% extends "layout.html" %}


{% block title %}Front{% endblock %}


{% block content %}
    <div class="arrow">
        <a href="/back">
            <img src="{{ url_for('static', filename='images/right_arrow.png') }}" alt="Right Arrow">
        </a>
    </div>
    <div class="back-arrow">
        <a href="/positions">
            <img src="{{ url_for('static', filename='images/right_arrow.png') }}" alt="Back Arrow">
        </a>
    </div>
    <div class="center-text">
        <h1 class="page-title">1 - Front</h1>
        <!-- <p class="page-paragraph">Dives that start with the number 1 are categorized as Front dives.
        </p> -->
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 full-width-column">
                <img src="static/images/front1.png" alt="Front Diagram" class="img-fluid front">
            </div>
        </div>
        <div class="row">
            <div class="col-1">
            </div>
            <div class="col-3 one-third-column">
                <h1>Key components:</h1>
                <ol>
                    <li>Start facing <span class="bold yellowhover" onmouseover="changeImage('front', 'front2')" onmouseout="changeImage('front', 'front1')">water</span></li>
                    <li><span class="bold yellowhover" onmouseover="changeImage('front', 'front3')" onmouseout="changeImage('front', 'front1')">Hurdle</span> into <span class="bold yellowhover" onmouseover="changeImage('front', 'front4')" onmouseout="changeImage('front', 'front1')">forward takeoff</span></li>
                    <li><span class="bold yellowhover" onmouseover="changeImage('front', 'front5')" onmouseout="changeImage('front', 'front1')">Flip forwards</span></li>
                </ol>
            </div>
            <div class="col-1">
            </div>
            <div class="col-7">
                <div class="row">
                    <div class="col-6 two-thirds-column left">
                        <h1><span class="bold">Example 1:</span> “Front one-and-a-half somersaults pike”</h1>
                        <p class = "yellowhover">
                            <a href="{{ url_for('video', dive_code='103B') }}">
                                <span class="underline">1</span><span class="underline">03</span><span class="underline">B</span>
                            </a>
                        </p>                        
                        <img src="static/images/103b_desc.png" alt="103B Description" class="img-fluid fixed-size">
                    </div>
                    <div class="col-6 two-thirds-column right">
                        <h1><span class="bold">Example 2:</span> “Front three-and-a-half somersaults tuck”</h1>
                        <p class = "yellowhover">
                            <a href="{{ url_for('video', dive_code='107C') }}">
                                <span class="underline">1</span><span class="underline">07</span><span class="underline">C</span>
                            </a>
                        </p>
                        <img src="static/images/107c_desc.png" alt="107C Description" class="img-fluid fixed-size">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}