{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}

    <div class="arrow">
        <a href="/intro">
            <img src="{{ url_for('static', filename='images/right_arrow.png') }}" alt="Right Arrow">
        </a>
    </div>

    <div class="image-container pad-left-right">
        <img src="{{ url_for('static', filename='images/diving-board-home.png') }}" alt="Diving Board">
        <div class="overlay-text">Diving<br>Decoded</div>
        <div class="overlay-text home-text">Learn what the Springboard Diving numbers mean in 10 minutes! Click the yellow arrow to proceed…
        <div class="smaller">(Tip: click/hover over bolded phrases to interact!)</div>
        </div>
    </div>
{% endblock %}