{% extends "layout.html" %}


{% block title %}Inward{% endblock %}


{% block content %}
    <div class="arrow">
        <a href="/twister">
            <img src="{{ url_for('static', filename='images/right_arrow.png') }}" alt="Right Arrow">
        </a>
    </div>
    <div class="back-arrow">
        <a href="/reverse">
            <img src="{{ url_for('static', filename='images/right_arrow.png') }}" alt="Back Arrow">
        </a>
    </div>
    <div class="center-text">
        <h1 class="page-title">4 - Inward</h1>
        <p class="page-paragraph">Dives that start with the number 4 are categorized as Inward dives. These dives are initiated with the diver facing away from the water and involve the diver performing a backwards takeoff with forward rotation…
        </p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 full-width-column">
                <img src="static/images/inward1.png" alt="Inward Diagram" class="img-fluid inward">
            </div>
        </div>
        <div class="row">
            <div class="col-1">
            </div>
            <div class="col-3 one-third-column">
                <h1>Key components:</h1>
                <ol>
                    <li>Start facing away from <span class="bold yellowhover" onmouseover="changeImage('inward', 'inward2')" onmouseout="changeImage('inward', 'inward1')">water</span></li>
                    <li><span class="bold yellowhover" onmouseover="changeImage('inward', 'inward3')" onmouseout="changeImage('inward', 'inward1')">Backwards takeoff</span></li>
                    <li><span class="bold yellowhover" onmouseover="changeImage('inward', 'inward4')" onmouseout="changeImage('inward', 'inward1')">Flip forwards</span></li>
                </ol>
            </div>
            <div class="col-1">
            </div>
            <div class="col-7">
                <div class="row">
                    <div class="col-6 two-thirds-column left">
                        <h1><span class="bold">Example 1:</span> Inward flip tuck"</h1>
                        <p class = "yellowhover"><span class="underline">4</span><span class="underline">02</span><span class="underline">C</span></p>
                        <img src="static/images/402c_desc.png" alt="402C Description" class="img-fluid fixed-size">
                    </div>
                    <div class="col-6 two-thirds-column right">
                        <h1><span class="bold">Example 2:</span> "Inward two-and-a-half pike”</h1>
                        <p class = "yellowhover">
                            <a href="{{ url_for('video', dive_code='405B') }}">
                                <span class="underline">4</span><span class="underline">05</span><span class="underline">B</span>
                            </a>
                        </p>
                        <img src="static/images/405b_desc.png" alt="405B Description" class="img-fluid fixed-size">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}