{% extends "layout.html" %}


{% block title %}Quiz{% endblock %}


{% block content %}

    <!-- <div class="back-arrow" id = "back-button">
        <a href="/twister">
            <img src="{{ url_for('static', filename='images/right_arrow.png') }}" alt="Right Arrow">
        </a>
    </div> -->
    <div class="center-text">
        <h1 class="page-title">Quiz</h1>
    </div>

    <!-- Uncomment this if you want toggleable navigation bar and arrow buttons: -->
    <!-- <label for="toggle-navbar">Toggle navigation bar and arrow buttons:</label>
    <input type="checkbox" id="toggle-navbar" checked> -->

    <form action="{{ url_for('quiz_results') }}" method="post">

        <table class = "quiz-table container-custom">
            {% for question in questions %}
                {% if loop.index is odd %}
                    <tr>
                {% endif %}
                        <td class="quiz-question cell-content">
                            <h2>Question {{ loop.index }}</h2>
                            {% if question.image %}
                                <div class="col-12 full-width-column">
                                    <img src="{{ url_for('static', filename='images/' + question.image) }}" alt="{{ question.image }}" class="img-fluid">
                                </div>
                            {% endif %}
                            {% if question.video %}
                                <div class="col-12 full-width-column">
                                    <video controls>
                                        <source src="{{ url_for('static', filename='videos/' + question.video) }}" type="video/mp4">
                                    </video>
                                </div>
                            {% endif %}
                            <label class = "question-label">{{ question.question }}</label>
                            <div id="number-input{{ question.id }}">
                                {% for option in question.options %}
                                    <input type="radio" id="number{{ question.id }}-option{{ loop.index }}" name="number-input{{ question.id }}" value="{{ loop.index }}">
                                    <label for="number{{ question.id }}-option{{ loop.index }}">{{ option }}</label><br>
                                {% endfor %}
                            </div>
                        </td>
                {% if loop.index is even %}
                    </tr>
                {% endif %}
            {% endfor %}
            {% if questions|length is odd %}
                </tr>
            {% endif %}
        </table>
        <div class = "spacer">
        </div>
        <button type="submit" class="btn btn-warning submit-button">Submit</button>
    </form>

{% endblock %}