{% extends "layout.html" %}


{% block title %}Reverse{% endblock %}


{% block content %}
    <div class="arrow">
        <a href="/inward">
            <img src="{{ url_for('static', filename='images/right_arrow.png') }}" alt="Right Arrow">
        </a>
    </div>
    <div class="back-arrow">
        <a href="/back">
            <img src="{{ url_for('static', filename='images/right_arrow.png') }}" alt="Back Arrow">
        </a>
    </div>
    <div class="center-text">
        <h1 class="page-title">3 - Reverse</h1>
        <!-- <p class="page-paragraph">Dives that start with the number 3 are categorized as Reverse dives.
        </p> -->
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 full-width-column">
                <img src="static/images/reverse1.png" alt="Reverse Diagram" class="img-fluid reverse">
            </div>
        </div>
        <div class="row">
            <div class="col-1">
            </div>
            <div class="col-3 one-third-column">
                <h1>Key components:</h1>
                <ol>
                    <li>Start facing <span class="bold yellowhover" onmouseover="changeImage('reverse', 'reverse2')" onmouseout="changeImage('reverse', 'reverse1')">water</span></li>
                    <li><span class="bold yellowhover" onmouseover="changeImage('reverse', 'reverse3')" onmouseout="changeImage('reverse', 'reverse1')">Hurdle</span> into <span class="bold yellowhover" onmouseover="changeImage('reverse', 'reverse4')" onmouseout="changeImage('reverse', 'reverse1')">forward takeoff</span></li>
                    <li><span class="bold yellowhover" onmouseover="changeImage('reverse', 'reverse5')" onmouseout="changeImage('reverse', 'reverse1')">Flip backwards</span></li>
                </ol>
            </div>
            <div class="col-1">
            </div>
            <div class="col-7">
                <div class="row">
                    <div class="col-6 two-thirds-column left">
                        <h1><span class="bold">Example 1:</span> “Reverse one-and-a-half somersaults straight”</h1>
                        <p class = "yellowhover">
                            <a href="{{ url_for('video', dive_code='303A') }}">
                                <span class="underline">3</span><span class="underline">03</span><span class="underline">A</span>
                            </a>
                        </p>
                        <img src="static/images/303a_desc.png" alt="303A Description" class="img-fluid fixed-size">
                    </div>
                    <div class="col-6 two-thirds-column right">
                        <h1><span class="bold">Example 2:</span> "Reverse two somersaults tuck”</h1>
                        <p class = "yellowhover">
                            <a href="{{ url_for('video', dive_code='304C') }}">
                                <span class="underline">3</span><span class="underline">04</span><span class="underline">C</span>
                            </a>
                        </p>
                        <img src="static/images/304c_desc.png" alt="304C Description" class="img-fluid fixed-size">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}