{% extends "layout.html" %}

{% block content %}
    <div class="back-arrow">
        <a href="{{ request.referrer }}">
            <img src="{{ url_for('static', filename='images/right_arrow.png') }}" alt="Back Arrow">
        </a>
    </div> 
    <div class="container">
        <h1 class="dive-code">{{ dive_code }}</h1>
        <table>
            <tr>
                <td>
                    <p>Slow Motion:</p>
                    <video src="{{ url_for('static', filename='videos/' + dive_code + '_slow.mov') }}" controls></video>
                </td>
                <td>
                    <p>Regular Speed:</p>
                    <video src="{{ url_for('static', filename='videos/' + dive_code + '.mov') }}" controls></video>
                </td>
            </tr>
        </table>
    </div>
{% endblock %}