{% extends "layout.html" %}

{% block content %}
    <div class="back-arrow">
        <a href="{{ request.referrer }}">
            <img src="{{ url_for('static', filename='images/right_arrow.png') }}" alt="Back Arrow">
        </a>
    </div> 
    <div class="container">
        <h1 class="dive-code">{{ dive_code }}</h1>
        <label class="switch">
            <input type="checkbox" id="videoSwitch">
            <span class="slider round"></span>
        </label>
        <div class="video-container">
            <video id="regularVideo" src="{{ url_for('static', filename='videos/' + dive_code + '.mov') }}" controls></video>
            <video id="slowVideo" src="{{ url_for('static', filename='videos/' + dive_code + '_slow.mov') }}" controls style="display: none;"></video>
        </div>
    </div>
{% endblock %}